body{

    background: linear-gradient(#8ebfd1,rgb(226, 226, 226));
}

/* .pointer {

    display:block;
    width:200px;
    height: 200px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
} */

nav {
    display: flex;
    justify-content: space-between;
}

.mgauche , .mdroite  {
    width: 150px;
    height: 150px;

}

.imgcassebrique {
    width:400px;
    height: 200px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
}


h1 {
color:black;
font-family:fantasy;
font-size: 60px;
text-align: center;

}


.imgdoigt {
    display:block;
    width:100px;
    height: 100px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
}

.startbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    font-size: 30px;
    line-height: 35px;
    padding: 5px 10px;
    color:black;
    text-shadow: 1px 1px 1px #000000;
    border-radius: 18px;
    background-color:goldenrod;
    background-image: linear-gradient(to top left,
                          rgba(255, 0, 0, 0.87),
                           rgba(160, 45, 45, 0.781),
                          rgb(255, 208, 0));
    box-shadow: inset 2px 2px 2px #ffffffd7,
    inset -2px -2px 3px rgba(0, 0, 0, 0.637);
}

.startbutton:hover{
    background-image:linear-gradient(to top left,
                          rgba(199, 0, 0, 0.952),
                           rgba(161, 0, 0, 0.918),
                          rgba(255, 0, 0, 0.767));
    cursor: pointer;
}


.startbutton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.89),
                inset 2px 2px 3px rgba(0, 0, 0, 0.781);
}

.regles {
    margin-left: 30px;
    margin-bottom: 50px;
}

.commandes{
    margin-left: 30px;
}

.imgfleches {

    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.commandes > .commandeflex {
    display: flex;
    align-self:center;
}

#cassebrique {
    border: 1px solid red;
    /*display:none; */
}

